use flake
export DATABASE_URL=postgresql+psycopg://ratchet@127.0.0.1:5432/ratchet
export TEST_DATABASE_URL=postgresql+psycopg://ratchet_test@127.0.0.1:5432/ratchet
export LD_LIBRARY_PATH="$(nix eval --raw 'nixpkgs#postgresql_16.lib')/lib${LD_LIBRARY_PATH:+:$LD_LIBRARY_PATH}"

